  body{
    background-color: white;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

/*banner*/
.banner-carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 350px; 
  }
  
  .banner-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
  }
  
  .banner-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .banner-prev, .banner-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
  }
  
  .banner-prev {
    
    width: 30px;
  height: 30px;
  border: 0;
  margin: -20px 0 0;
  box-shadow: none !important;
  display: block;
  background-color: transparent;
  background-image: url('imagenes/banners/bg_direction_nav.png');
  background-repeat: no-repeat;
  position: absolute;
  }
  
  .banner-next {
    width: 30px;
    height: 30px;
    border: 0;
    margin:0 0 -20px;
    box-shadow: none !important;
    display: block;
    background-color: transparent;
    background-image: url('imagenes/banners/bg_direction_nav.png');
    background-repeat: no-repeat;
    margin-left: 98%;
    top: 50%;
    z-index: 10;
    cursor: pointer;
  }
/*feature styles*/
  .features {
    display: flex;
    background-color: #dddbdb;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.card {
    width: 175px;
    height: 154.833px;
    margin: 0 20px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}

.card img {
    width: 175px;
    height: 154.833px;
    object-fit: cover;
    transition: none;
}

.card:hover img {
    display: none;
}

.card:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 180px;
    height: 160px;
    background-image: var(--image-hover);
    background-size: cover;
    background-position: center;
  }
/*banner image*/
.banner-bdy img {
    width: 100%;
    height: auto;
  }
/*para_tunegocio text container*/
.text-container {
  text-align: center;
  padding: 20px;
  }
  .bodytxt {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  }
  .bodytxt h4 {
  font-weight:normal ;
  margin-bottom: 10px;
  }
  hr {
    width: 40%;
    margin: 20px auto;
    border: 1px solid yellow;
  
  }

  
  /*hover botones-black-yellows*/
    /* Estilos para los botones y listas */
    /* .botones-black-yellows{
      padding-bottom: 900px;
    } */
    .buttonblack-container{
      display: flex;
      justify-content: center;
      align-items: center;
      padding:40px;
    }
    .buttonblack {
      background-color: black; 
      color:white;  
      padding: 15px 30px;
      border-radius: 6px;
      margin: 10px;
      cursor: pointer;
      text-align: center;
      font-size: 16px;
      transition: background-color 0.3s; 
    }
    .buttonblack:hover {
      background-color:rgb(215, 59, 85); 
    }
    .button-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .buttonyell {
      background-color: white; 
      color: #000000; /* Negro */
      padding: 15px 30px;
      border:0.5px solid yellow;
      border-radius: 6px;
      margin: 10px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      transition: background-color 0.3s; /* Transición de color */
    }

    .buttonyell:hover {
      background-color: #ffff00; 
    }

    .content-button {
      display: none; 
      text-align: center;
      margin-top: 20px;
      padding-bottom: 225px;
    }

    .content-button.active {
      display: block; /* Muestra el contenido cuando está activo */
      color:black;
    }
    .checkbox-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
    }

   .checkbox {
      margin-bottom: 10px;
    }

   .checkbox label {
      margin-left: 10px;
    }