body {
    font-family: Arial, sans-serif;
    color:#ff3333;
    background-color: #ff3333;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50%;
    background-image:url("images/insesion.png") ;
    background-size: 100% auto;
    
    
}

.form-container1 {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 250px;
    height:10%;
    text-align: center;
    margin: 20px auto; 
}

h2 {
    color: #ff3333;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
    color: #ff3333;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #ff3333;
}

input[type="text"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #ff3333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #ff3333;
}

a {
    color: #ff3333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
#virtualKeyboard {
    height:20%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
    margin-bottom: 20px;
}

#virtualKeyboard button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
}

#virtualKeyboard button:hover {
    background-color: #e0e0e0;
}

